# Chek README for values
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgres://skolarena:skolarena@localhost:5432/skolarena3
NODE_ENV=development
LOG_LEVEL=info # debug, info, warn, error, silent
LOG_FORMAT=logfmt # json, logfmt, pretty

# VAPID keys for web push notifications
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

KEYCLOAK_LOGIN_LABEL=Se connecter avec Keycloak

# SMTP configuration for email service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=noreply@skolarena.com
SMTP_FROM_NAME=Skol
INITIAL_ADMIN_EMAIL=admin@skol-arena.local

KEYCLOAK_CLIENT_ID=tournament-app
KEYCLOAK_CLIENT_SECRET=your-client-secret-from-keycloak
KEYCLOAK_DISCOVERY_URL=https://keycloak.domain.com/realms/YOUR_REALM/.well-known/openid-configuration