.main-app {
  background: var(--p-surface-50);
}

header {
  background: var(--p-surface-200);
  /* add shadow */
  box-shadow: 0px 2px 4px var(--p-surface-300);
}

.my-app-dark {
  .main-app {
    background: var(--p-surface-800);
  }
  header {
    background: var(--p-surface-900);
    box-shadow: 0px 2px 4px var(--p-surface-950);
  }
}
